<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Usuarios</div>

                    <div class="card-body">
                        <table id="example" class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Cedula</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Celular</th>
                                    <th scope="col">Correo</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            $('#example').DataTable( {
                "processing": true,
                "serverSide": true,
                "ajax": "usuarios",
                columns: [
                    {data: 'id'},
                    {data: 'cedula'},
                    {data: 'name'},
                    {data: 'fecha'},
                    {data: 'celular'},
                    {data: 'email'}
                ]
            } );
            console.log('Component mounted.')
        }
    }
</script>
